{% extends "base.html" %}

{% block titulo %}Orden de Producción{% endblock %}

{% block contenido %}
<div class="container-fluid">

    <h1 class="h3 mb-4 text-gray-800">Órdenes de Producción</h1>

    <button class="btn btn-primary mb-3"
            onclick="window.location.href='{{ url_for('opmod.orden_produccion_form') }}'">
        + Nueva Orden
    </button>

    <div class="card shadow">
        <div class="card-body">

            <table id="tblOrdenProduccion" class="table table-striped table-bordered" width="100%">
                <thead>
                    <tr>
                        <th>Código</th>
                        <th>Producto</th>
                        <th>Sucursal</th>
                        <th>Fecha Inicio</th>
                        <th>Fecha Estimada</th>
                        <th>Estado</th>
                        <th>Usuario</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
            </table>

        </div>
    </div>

</div>
{% endblock %}

{% block js %}
<script>
$(document).ready(function () {

    $('#tblOrdenProduccion').DataTable({
        processing: true,
        serverSide: false,
        ajax: {
            url: "/api/v1/orden-produccion",
            type: "GET",
            dataSrc: ""
        },
        columns: [
            { data: "cod_orden_prod_cab" },
            { data: "producto" },
            { data: "sucursal" },
            { data: "fecha_inicio" },
            { data: "fecha_fin_estimada" },
            { data: "estado" },
            {  data: "usuario.usu_nick",
             defaultContent: ""
            },
            {
                data: null,
                render: function (data) {
                    return `
                        <a href="/produccion/orden/editar/${data.cod_orden_prod_cab}"
                           class="btn btn-warning btn-sm">Editar</a>

                        <button class="btn btn-danger btn-sm"
                                onclick="anularOrden(${data.cod_orden_prod_cab})">
                                Anular
                        </button>
                    `;
                }
            }
        ]
    });

});

// ==========================
// ANULAR ORDEN
// ==========================
function anularOrden(id) {

    if (!confirm("¿Desea anular esta orden?")) return;

    $.ajax({
        url: `/api/v1/orden-produccion/${id}/anular`,
        type: "PUT",
        success: function () {
            alert("Orden anulada correctamente");
            $('#tblOrdenProduccion').DataTable().ajax.reload();
        },
        error: function () {
            alert("Error al anular");
        }
    });
}

</script>
{% endblock %}
